name: Codecov Post-Merge
on:
  pull_request:
    types: [closed]

env:
  CI: true
  DO_NOT_TRACK: '1'

jobs:
  upload-codecov:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}

      - name: Print merge commit SHA
        run: |
          echo "Merge commit SHA: ${{ github.event.pull_request.merge_commit_sha }}"

      - name: Download computed artifact and upload to codecov with merge SHA
        uses: ./.github/actions/codecov-merge-upload
        with:
          coverage-path: coverage
          workflow-paths: .github/workflows/cli-ci.yaml,.github/workflows/router-ci.yaml
          override-commit: ${{ github.event.pull_request.merge_commit_sha }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

